html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.home {
  display: flex;
  min-height: 100vh;
}

.sidebar-wrapper-left, .sidebar-wrapper-right {
  width: 20%;
  background: radial-gradient(circle at 50% 50%, rgba(28, 15, 50, 1) 20%, rgb(21, 11, 34) 50%);
}

.sidebar-left, .sidebar-right {
  height: 100%;
  background: linear-gradient(135deg, rgba(88, 53, 138, 0.5) 20%, rgba(46,38,56, 0.712) 50%);
}

.sidebar-wrapper-left .sidebar-left {
  border-radius: 0 20px 20px 0;
}

.sidebar-wrapper-right .sidebar-right {
  border-radius: 20px 0 0 20px;
}

.main-container {
  width: 60%;
  background: radial-gradient(circle at 50% 50%, rgba(28, 15, 50, 1) 20%, rgb(21, 11, 34) 50%);

}