html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.home {
  display: flex;
  min-height: 100vh;
}

.sidebar-wrapper-left, .sidebar-wrapper-right {
  width: 20%;
  background-color: black; 
}

.sidebar-left, .sidebar-right {
  height: 100%;
  background: linear-gradient(to top, #5B5198, #C03EFE, #834DC8);
}

.sidebar-wrapper-left .sidebar-left {
  border-radius: 0 20px 20px 0;
}

.sidebar-wrapper-right .sidebar-right {
  border-radius: 20px 0 0 20px;
}

.main-container {
  width: 60%;
  background-color: black;
}